body {
  text-align: center;
}

.page-wrap {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: 'Monoton', cursive;
  font-weight: normal;
  font-size: 60px;
}

#grid {
  margin: auto;
}

.cell {
  border: solid 1px black;
}
