body {
  text-align: center;
}

.page-wrap {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: 'Monoton', cursive;
  font-weight: normal;
  font-size: 60px;
}

#grid {
  margin: auto;
  cursor: url('pencil.png') 4 12, auto;
}

.cell {
  width: 16px;
  height: 16px;
  border: solid 1px black;

}

.col{
  border: solid 1px black;
}
